[submodule "Frontend"]
	path = Frontend
	url = git@github.com:SQLutions-FATEC/API-4-Semestre-Frontend.git

[submodule "Backend"]
	path = Backend
	url = git@github.com:SQLutions-FATEC/API-4-Semestre-Backend.git
